#all_game_choice{
    /*Fundo do game com o cenário da porta do choice e input*/
    background-image: url(../img/cenarios/entrada_loja_background.png);
    background-size: 845px 480px;
    mix-blend-mode: normal;
    filter: blur(8px);
}

#all_game_choice_es{
    /*Fundo do game com o cenário de escada do choice e input*/
    background-image: url(../img/cenarios/escada.png);
    background-size: 845px 480px;
    mix-blend-mode: normal;
    filter: blur(8px);
}

#all_game_choice_dp{
    /*Fundo do game com o cenário de depósito do choice e input*/
    background-image: url(../img/cenarios/deposito.png);
    background-size: 845px 480px;
    mix-blend-mode: normal;
    filter: blur(8px);
}

#all_game_choice_up{
    /*Fundo do game com o cenário do andar de cima do choice e input*/
    background-image: url(../img/cenarios/cima.png);
    background-size: 845px 480px;
    mix-blend-mode: normal;
    filter: blur(8px);
}

.choice_0{
    position: absolute;
    width: 452px;
    height: 35px;
    left: 197px;
    top: 222px;

    background: rgba(0, 0, 0, 0.65);
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: var(--main-font-family-color);

}

.choice_1{
    position: absolute;
    width: 452px;
    height: 35px;
    left: 197px;
    top: 303px;
    
    background: rgba(0, 0, 0, 0.65);
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: var(--main-font-family-color);
}

.choice_U{
    position: absolute;
    width: 452px;
    height: 35px;
    left: 197px;
    top: 243px;
    background: rgba(0, 0, 0, 0.65);
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-font-family-color);
}

.question_1{
    position: absolute;
    width: 261px;
    height: 58px;
    left: 300px;
    top: 130px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    color: var(--main-font-family-color);
}

.question_2{
    position: absolute;
    width: 334px;
    height: 58px;
    left: 264px;
    top: 130px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    color: var(--main-font-family-color);
}
.question_2U{
    position: absolute;
    width: 334px;
    height: 58px;
    left: 264px;
    top: 162px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    color: var(--main-font-family-color);
}

.question_1U{
    position: absolute;
    width: 261px;
    height: 58px;
    left: 300px;
    top: 162px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    color: var(--main-font-family-color);
}

.item-next{
    position: absolute;
    width: 110px;
    height: 35px;
    left: 700px;
    top: 410px;
    
    background: rgba(0, 0, 0, 0.65);
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: var(--main-font-family-color);
}