#all_game_run{
    /*Fundo do game com o cenário de porta do index*/
    background-image: url(../img/cenarios/entrada_loja_background.png);
    background-size: 845px 480px;
}

#all_game_run_es{
    /*Fundo do game com o cenário de escada do index*/
    background-image: url(../img/cenarios/escada.png);
    background-size: 845px 480px;
}

#all_game_run_dp{
    /*Fundo do game com o cenário de depósito do index*/
    background-image: url(../img/cenarios/deposito.png);
    background-size: 845px 480px;
}

#all_game_run_dp-zoom{
    /*Fundo do game com o cenário de depósito do index*/
    background-image: url(../img/cenarios/deposito.png);
    background-size: 1690px 960px;
    background-position: -402.5px -100px;
}

#all_game_run_up{
    /*Fundo do game com o cenário do andar de cima*/
    background-image: url(../img/cenarios/cima.png);
    background-size: 845px 480px;
}


.textArea{
    position: absolute;
    width: 845px;
    height: 141px;
    left: 0px;
    top: 339px;

    background: #000000;
    opacity: 0.6;
    z-index: 99;
}

.name{
    position: absolute;
    width: 88px;
    height: 38px;
    left: 16px;
    top: 320px;

    background: #000000;
    border-radius: 2px;
    z-index: 100;
}

.Next{
    position: absolute;
    width: 55px;
    height: 25px;
    left: 783px;
    top: 344px;

    z-index: 200;
}

.next{
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;

    color: var(--main-font-family-color);

    background: 0%;
    border: 0;

    z-index: 200;
}

.bar_game{
    position: absolute;
    width: 2px;
    height: 20px;
    left: 773px;
    top: 344px;
    background-color: #9c9c9c;

    z-index: 200;
}

.Back_{
    position: absolute;
    width: 37px;
    height: 25px;
    left: 730px;
    top: 344px;

    z-index: 200;
}

.refresh_text{
    position: absolute;
    left: 814px;
    top: 447px;
    cursor: pointer; 

    z-index: 200;
}

.back_{
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;

    color: var(--main-font-family-color);

    background: 0%;
    border: 0;

    z-index: 200;
}

.poppy{
    position: absolute;
    width: 46px;
    height: 26px;
    left: 37px;
    top: 326px;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: var(--main-font-family-color);

    mix-blend-mode: normal;

    z-index: 200;
}

.rebecca{
    position: absolute;
    width: 61px;
    height: 26px;
    left: 30px;
    top: 326px;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: var(--main-font-family-color);

    mix-blend-mode: normal;

    z-index: 200;

}

.texto{
    position: absolute;
    left: 32px;
    top: 365px;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: var(--main-font-family-color);
    width: 792px;

    z-index: 200;
}