.menu{
    position: absolute;
    width: 845px;
    height: 480px;
    left: 9px;
    top: -5px;
    
    background: linear-gradient(180deg, #000000 0%, #260151 100%);
}


button:focus{
    outline: none; 
}

.play{
    position: absolute;
    width: 218px;
    height: 41px;
    left: 314px;
    top: 189px;
    
    background: linear-gradient(180deg, #C27AEF 0%, rgba(0, 0, 0, 0.9) 215.85%);
    border-radius: 14px;
    border:0;

    box-shadow:0 0 7px 0 var(--button-color-hover);

    font-family: Yu Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: center;

}

.info{
    position: absolute;
    width: 218px;
    height: 41px;
    left: 313px;
    top: 261px;
    
    background: linear-gradient(180deg, #C27AEF 0%, rgba(0, 0, 0, 0.9) 215.85%);
    border-radius: 14px;
    border:0;

    box-shadow:0 0 7px 0 var(--button-color-hover);

    font-family: Yu Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: center;

}

.credits{
    position: absolute;
    width: 218px;
    height: 41px;
    left: 314px;
    top: 333px;
    
    background: linear-gradient(180deg, #C27AEF 0%, rgba(0, 0, 0, 0.9) 215.85%);
    border-radius: 14px;
    border:0;

    box-shadow:0 0 7px 0 var(--button-color-hover);

    font-family: Yu Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    
}

.play:hover{
    box-shadow:0 0 16px 0 var(--button-color-hover); 
    background-color: var(--button-color-);

}

.info:hover{
    box-shadow:0 0 16px 0 var(--button-color-hover); 
    background-color: var(--button-color-);

}

.credits:hover{
    box-shadow:0 0 12px 0 var(--button-color-hover); 
    background-color: var(--button-color-);
}

.play:active{
    box-shadow:0 0 16px 0 var(--color-input-active); 
    background-color: var(--button-color-hover);
}

.info:active{
    box-shadow:0 0 16px 0 var(--color-input-active); 
    background-color: var(--button-color-hover);
}

.credits:active{
    box-shadow:0 0 16px 0 var(--color-input-active); 
    background-color: var(--button-color-hover);
}
