.question_0{
    position: absolute;
    width: 444px;
    height: 58px;
    left: 228px;
    top: 130px;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;

    color: var(--main-font-family-color);

}

.input_tittle{
    position: absolute;
    width: 414px;
    height: 116px;
    left: 216px;
    top: 100px;

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    text-align: center;

    color: var(--main-font-family-color);

}

.Play_{
    position: absolute;
    width: 37px;
    height: 25px;
    left: 674px;
    top: 343px;

    z-index: 200;
}

.bar_game___{
    position: absolute;
    width: 2px;
    height: 20px;
    left: 717px;
    top: 344px;
    background-color: #9c9c9c;
}

.B_menu{
    position: absolute;
    width: 111px;
    height: 25px;
    left: 727px;
    top: 344px;

    z-index: 200;
}

