:root{
    --main-color: #104060;
    --main-white: #fcfcfc ;
    --main-font-family: 'Roboto', sans-serif;
    --main-font-family-color: #fcfcfcbb;
    --disabled: #606060bb;
    --color-input-hover: #1e90ff;
    --color-input-active: #1e8fff98;
    --button-color: #c4c4c4;
    --button-background: linear-gradient(180deg, #C27AEF 0%, rgba(0, 0, 0, 0.9) 215.85%);
    --button-color-hover: #C27AEF;
    --border-color-hover: #9b9b9bb6;
    --menu-background-color: linear-gradient(180deg, #000000 0%, #260151 100%);
}

*{
    margin: 0;
    padding: 0;
}